.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
out/
wandb/

scripts/slurm_el.sh
scripts/slurm_npl.sh
scripts/slurm_el_act.sh
scripts/slurm_act_el.sh
scripts/slurm*.sh